name: Add new issue/PR to project

on:
  issues:
    types:
      - opened

  pull_request_target:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue or PR to project
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.AUTO_ADD_ISSUE_AND_PR_TO_PROJECT_APP_ID }}
          private-key: ${{ secrets.AUTO_ADD_ISSUE_AND_PR_TO_PROJECT_APP_PEM }}

      - name: Add to Project
        env:
          TOKEN: ${{ steps.generate-token.outputs.token }}
        uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
        with:
          project-url: ${{ secrets.PACKAGE_DEV_PROJECT_URL }}
          github-token: ${{ env.TOKEN }}
