name: Maris.ComponentModel.Annotations CI

permissions:
  checks: write
  contents: read

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/Maris.ComponentModel.Annotations/**'
      - 'tests/Maris.ComponentModel.Annotations.Tests/**'
      - '.github/workflows/maris-component-model-annotations.ci.yml'
      - '**/Directory.Build.props'
      - '**/Directory.Packages.props'
      - '**/global.json'
      - '**/.editorconfig'
      - '**/stylecop.json'
  workflow_dispatch:

jobs:
  ci:
    name: パッケージのビルドとテスト
  
    strategy:
      fail-fast: false
      matrix:
        vm_image: [ubuntu-latest, windows-latest, macos-latest]
        framework_version: [net472, net8.0, net9.0, net10.0]
        exclude:
         - vm_image: ubuntu-latest
           framework_version: net472
         - vm_image: macos-latest
           framework_version: net472

    runs-on: ${{ matrix.vm_image }}
   
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      BUILD_CONFIGURATION: Debug
  
    steps:
      - name: ブランチのチェックアウト
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
  
      - name: dotnet SDK のセットアップ
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
          dotnet-quality: 'ga'

      - name: macOS に GNU sed をインストール
        if: ${{ matrix.vm_image == 'macos-latest' }}
        shell: bash
        run: |
          brew install gsed

      - name: アプリケーションのビルド
        id: application-build
        shell: bash
        continue-on-error: true
        run: |
          echo '## Build Result :gear:' >> $GITHUB_STEP_SUMMARY
          dotnet build src/Maris.ComponentModel.Annotations/ --nologo --configuration ${{ env.BUILD_CONFIGURATION }} --verbosity minimal > build-result.txt
          dotnet build tests/Maris.ComponentModel.Annotations.Tests/ --nologo --configuration ${{ env.BUILD_CONFIGURATION }} --framework ${{ matrix.framework_version }} --verbosity minimal >> build-result.txt
          echo ':heavy_check_mark: アプリケーションのビルドに成功しました。' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat build-result.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
  
      - name: ビルド失敗時の結果表示
        shell: bash
        if: ${{ steps.application-build.outcome == 'failure' }}
        run: |
          echo ':x: アプリケーションのビルドに失敗しました。  ' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat build-result.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          exit 1
  
      - name: 単体テストの実行
        id: run-unit-test
        shell: bash
        continue-on-error: true
        run: |
          echo '## Test Result :memo:' >> $GITHUB_STEP_SUMMARY
          dotnet test --project tests/Maris.ComponentModel.Annotations.Tests/Maris.ComponentModel.Annotations.Tests.csproj --no-build --verbosity normal --configuration ${{ env.BUILD_CONFIGURATION }} --framework ${{ matrix.framework_version }} -- --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml --report-xunit-trx --report-xunit-trx-filename Maris.ComponentModel.Annotations-${{ matrix.vm_image }}-${{ matrix.framework_version }}.trx

      - id: create-test-result-report
        name: テスト結果ページの作成
        uses: dorny/test-reporter@fe45e9537387dac839af0d33ba56eed8e24189e8 # v2.3.0
        with:
          name: 'Test results ${{ matrix.framework_version }} on ${{ matrix.vm_image }}'
          path: '**/TestResults/Maris.ComponentModel.Annotations-${{ matrix.vm_image }}-${{ matrix.framework_version }}.trx'
          path-replace-backslashes: 'true'
          reporter: 'dotnet-trx'
          only-summary: 'false'
          use-actions-summary: 'true'
          badge-title: 'tests'
          list-suites: 'failed'
          list-tests: 'failed'
          max-annotations: '10'
          fail-on-error: 'false'
          fail-on-empty: 'true'

      - id: create-coverage-report
        name: コードカバレッジレポートの解析
        uses: danielpalme/ReportGenerator-GitHub-Action@ee0ae774f6d3afedcbd1683c1ab21b83670bdf8e # v5.5.1
        with:
          reports: '**/TestResults/coverage.cobertura.xml'
          targetdir: 'CoverageReport'
          reporttypes: 'MarkdownSummaryGithub;TextSummary'
    
      - name: コードカバレッジの結果表示
        shell: bash
        run: |
          if [ "${{ matrix.vm_image }}" = "macos-latest" ]; then
            echo 'export PATH="/opt/homebrew/opt/gnu-sed/libexec/gnubin:$PATH"' >> ~/.bashrc
            source ~/.bashrc
          fi
          echo '## Coverage :triangular_ruler:' >> $GITHUB_STEP_SUMMARY
          sed -i s/'# Summary'/'Coverage report of ${{ matrix.framework_version }} on ${{ matrix.vm_image }}.'/g CoverageReport/SummaryGithub.md
          sed -i -e '/^#/d' CoverageReport/SummaryGithub.md
          cat CoverageReport/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
    
      - name: テスト結果のアップロード
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: unit-test-results-${{ matrix.vm_image }}-${{ matrix.framework_version }}
          path: |
            tests/Maris.ComponentModel.Annotations.Tests/**/TestResults/
            CoverageReport/Summary.txt
  
      - name: 単体テスト結果の確認
        if: ${{ steps.create-test-result-report.outputs.conclusion == 'failure' }}
        run: exit 1
        